PUBLIC_SUPABASE_URL=https://dwapbtccnaqmlzrfzusr.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR3YXBidGNjbmFxbWx6cmZ6dXNyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2MDEzOTksImV4cCI6MjA5MTE3NzM5OX0.8x7goAxPafFixj3Jg3IUSAEydpa0agdiu_58mXKgC70
